<h2>Lista de Productos</h2>

<a href="/productos/agregar">Agregar producto</a>

<table>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>

    {{#each productos}}
    <tr>
        <td>{{nombre}}</td>
        <td>{{descripcion}}</td>
        <td>${{precio}}</td>
        <td>
            <a href="/productos/editar/{{id}}">Editar</a>
            <a href="/productos/eliminar/{{id}}">Eliminar</a>
        </td>
    </tr>
    {{/each}}
</table>